experiments/
checkpoints/
data/
logs/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# mac
.DS_Store
*.xml
*.jsonl
*.10k
*.iml
hard_negatives_triples.tsv
hard_negatives_triples_10k.tsv
*.tsv
